@{
    ViewData["Title"] = "Coin Hunter";

    @model ViewModel;

    string symbol = CryptoModel.CurrencySymbol;
}

<link href="/css/cryptos.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">{Coin Hunter}</h1>
    <p>View data on the top 100 cryptocurrencies on the market.</p>
</div>

<br />
<hr />
<br />
<h2 style="text-align:center"> Top Six Cryptocurrencies</h2>
<br />

<div class="data-container">
    @{
        for (int i = 0; i < 6; i++)
        {
            <div class="data-block">
                <div style="text-align:center">
                    <a href='@Url.Action("GetCrypto", "Crypto", Model.CryptoList[i])'>
                        <img src="@Model.CryptoList[i].Image" alt="Image of @Model.CryptoList[i].Name" width="100" height="100" />
                    </a>
                    <h1>{@Model.CryptoList[i].Name}</h1>
                    <h2>@symbol@CryptoModel.MakeNumberPretty(@Model.CryptoList[i].Current_price)</h2>
                </div>
            </div>
        }
    }
</div>
